@tailwind base;
@tailwind components;
@tailwind utilities;

.info-panel {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 20px 20px 50px rgba(0,0,0,0.8);
    backdrop-filter: blur(1.8rem);
}

.celsius:before {
    position: absolute;
    content: '';
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 3px solid white;
    top: 0;
    right: 0;
}

.info-celsius:before {
    @apply rounded w-1 h-1;
    position: absolute;
    content: '';
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    top: 3px;
    right: -8px;
}

.point-celsius:before {
    top: 2px;
    right: 2px;
}

.main-panel-container {
    @apply z-10 relative grid items-center text-white text-2xl;
}

table {
    border-spacing: 1rem;
}


.blured {
  filter: blur(15px);
}

@keyframes loaded {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.custom-image.loaded:not(.has-error) {
  animation: loaded 300ms ease-in-out;
}
.custom-image.has-error {
  content: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/BSOD_Windows_8.svg/1200px-BSOD_Windows_8.svg.png');
}


::-webkit-scrollbar {
    width: 0.5em;
}
   
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 999px;
}